body {
width:100%;
background-color:AliceBlue;
font-size:11pt;
font-family:sans-serif;
margin:0;
padding:0;
color:DarkSlateGray;
}

#page {
width:100%;
#background-image:url(images/page.png);
background-color:LightSteelBlue;
margin:auto;
padding:auto;
}

#header {
clear:both;
width:100%;
height:86px;
#background-image:url(images/header.png);
background-color:AliceBlue;;
padding-left:50px;
padding-top:12px;
}

#sidebarnav {
margin-top:10px;
padding-bottom:10px;
}
  
#sidebarnav a {
	#width:150px;
	display:block;
	clear:both;
	padding-right:15px;
	padding-top:8px;
	height:25px;
	color:DarkSlateGray;
	text-decoration:none;
	font-size:12pt;
	font-weight:bold;
	background-color:LightSteelBlue;
	border-left:5px solid LightSteelBlue;
	margin-top:5px;
	text-align:right;
  }
  
  
#sidebarnav a:hover, #sidebarnav a.active {
	background-color:AliceBlue;
	border-left:5px solid LightSteelBlue;
	text-decoration:none;
}

#mainarea {
width:100%;
clear:both;
padding-left:20px;
padding-top:10px;
padding-bottom:10px;
}

#contentarea {
width:70%;
padding-left:20px;
padding-top:10px;
padding-bottom:10px;
float:left;
line-height:15pt;
}

#sidebar {
font-size:10pt;
float:left;
#width:180px;
width:20%;
padding-top:10px;
padding-bottom:10px;
padding-left:5px;
line-height:14pt;
color:DarkSlateGray;
}

#footer {
width:100%;
clear:both;
height:26px;
padding-top:6px;
text-align:center;
line-height:14pt;
#background-image:url(images/footer.png);
background-color:LightSteelBlue;
background-repeat:no-repeat;
color:DarkSlateGray;
}

#footer a {
color:DarkSlateGray;
}

h1, h1 a {
font-size:21pt;
color:DarkRed;
}

#header h1 {
margin:0;
}

h2 {
font-size:15pt;
color:DarkSlateGray;
}

h3 {
font-size:12pt;
color:DarkSlateGray;
}

#sidebar h2 {
font-size:12pt;
color:DarkSlateGray;
}

.description {
font-size:12pt;
color:LightSkyBlue;
}

a {
color:SteelBlue;
text-decoration:none;
}

#header a {
color:DarkSlateGray;
}

#sidebar a {
color:DarkSlateGray;
}

a:hover {
text-decoration:underline;
}

.caps {
text-transform:uppercase;
}
